
.conteiner{
    width: 700px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.widgets{
    height: 300px;
    background-color: #246abb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b2c7dd;
    margin: 20px 5px;
}

.wrapwid{
    display: flex;
    margin: 10px 5px;

}

.bigwid{
    width: 35%;
    height: 400px;
    background-color: #18467b;
    color: #7aa9c3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

}

.biggwid{
    width: 35%;
    height: 400px;
    background-color: #18467b;
    color: #7aa9c3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.hugwid{
    width: 35%;
    height: 400px;
    background-color: #18467b;
    color: #7aa9c3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    height: 600px;
    background-color: #246abb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b2c7dd;
    margin: 20px 5px;
}