.les2{
    background-color: #8a2928;
    color: white;
    text-align: center;
    margin: 20px 0px;
}

.silver{
    background-color: #c0c0c0;
    padding: 10px;
}
.blue{
    background-color: #6496ec;
    padding: 20px 40px 20px 0px;
}
.green{
    width: 200px;
    height: 200px;
    background-color: #6cba68;
}
.radius {
    width: 200px;
    height: 200px;
    background-color: #8987ab;
    border-radius: 20px;
}