.header{
    width: auto;
    display: flex;
    margin-bottom: 10px;
}

.bg-col{
    background-color: #686868;
}

.head_left{
    width: 100px;
    height: 100px;
}
.head_right{
     width: 500px;
     height: 100px;
    margin-left: 10px;
 }

.wrap345{
    display: flex;
}
.nav{
    width: 100px;
    margin-right: 10px;
}

.bath{
    width: 356px;
    height: 200px;
    margin-right: 10px;
}

.ad{
    width: 135px;
    height: 200px;
}