.a{
    width: 413px;
    height: 70px;
    background-color: silver;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapbcdef{
    margin: 5px 5px 5px 5px;
            display: flex;}

.wrapklm{
    display: flex;
    margin-bottom: 5px;
}

.k{
    height: 70px;
    width: 100px;
    background-color: silver;
    margin: 0px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l{
    height: 70px;
    width: 100px;
    background-color: silver;
    margin: 0px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m{
    height: 70px;
    width: 100px;
    background-color: silver;
    margin: 0px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapcde{
    display: flex;
}
.c{
    height: 70px;
    width: 100px;
    background-color: silver;
    margin: 0px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d{
     height: 70px;
    width: 100px;
     background-color: silver;
    margin: 0px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.e {
      height: 70px;
      width: 100px;
      background-color: silver;
     margin: 0px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.f {
    height: 145px;
    width: 100px;
    background-color: silver;
    margin: 0px 5px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}